nba/.phpunit.cache
nba/node_modules
nba/public/build
nba/public/hot
nba/public/storage
nba/storagnba/e/*.key
nba/vendor
nba/.env
nba/.env.backup
nba/.env.production
nba/.phpunit.result.cache
nba/Homestead.json
nba/Homestead.yaml
nba/auth.json
nba/npm-debug.log
nba/arn-error.log
nba/.fleet
nba/.idea
nba/.vscode
nba/import
todo.txt
*.pdf
.DS_store
.idea
database/
.php-cs-fixer.cache
nba/package-lock.json
nba/yarn.lock
